aiohttp==2.3.7
async-timeout==2.0.0
chardet==3.0.4
cssselect==0.9.1
flake8==3.5.0
idna==2.6
lxml==3.5.0
mccabe==0.6.1
multidict==3.3.2
pkg-resources==0.0.0
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.1.1
pyquery==1.2.11
requests==2.9.1
requests-cache==0.4.11
yarl==0.17.0
